image: webhippie/minecraft-vanilla:1.8.5
manifests:
  -
    image: webhippie/minecraft-vanilla:1.8.5-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-vanilla:1.8.5-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
