max-tick-time={{ getenv "MINECRAFT_MAX_TICK_TIME" }}
generator-settings={{ getenv "MINECRAFT_GENERATOR_SETTINGS" }}
force-gamemode={{ getenv "MINECRAFT_FORCE_GAMEMODE" }}
allow-nether={{ getenv "MINECRAFT_ALLOW_NETHER" }}
gamemode={{ getenv "MINECRAFT_GAMEMODE" }}
enable-query={{ getenv "MINECRAFT_ENABLE_QUERY" }}
player-idle-timeout={{ getenv "MINECRAFT_PLAYER_IDLE_TIMEOUT" }}
difficulty={{ getenv "MINECRAFT_DIFFICULTY" }}
spawn-monsters={{ getenv "MINECRAFT_SPAWN_MONSTERS" }}
op-permission-level={{ getenv "MINECRAFT_OP_PERMISSION_LEVEL" }}
resource-pack-hash={{ getenv "MINECRAFT_RESOURCE_PACK_HASH" }}
announce-player-achievements={{ getenv "MINECRAFT_ANNOUNCE_PLAYER_ACHIEVMENTS" }}
pvp={{ getenv "MINECRAFT_PVP" }}
snooper-enabled={{ getenv "MINECRAFT_SNOOPER_ENABLED" }}
level-type={{ getenv "MINECRAFT_LEVEL_TYPE" }}
hardcore={{ getenv "MINECRAFT_HARDCORE" }}
enable-command-block={{ getenv "MINECRAFT_ENABLE_COMMAND_BLOCK" }}
max-players={{ getenv "MINECRAFT_MAX_PLAYERS" }}
network-compression-threshold={{ getenv "MINECRAFT_NETWORK_COMPRESSION_THRESHOLD" }}
max-world-size={{ getenv "MINECRAFT_MAX_WORLD_SIZE" }}
rcon.port={{ getenv "MINECRAFT_RCON_PORT" }}
server-port={{ getenv "MINECRAFT_SERVER_PORT" }}
server-ip={{ getenv "MINECRAFT_SERVER_IP" }}
spawn-npcs={{ getenv "MINECRAFT_SPAWN_NPCS" }}
allow-flight={{ getenv "MINECRAFT_ALLOW_FLIGHT" }}
level-name={{ getenv "MINECRAFT_LEVEL_NAME" }}
view-distance={{ getenv "MINECRAFT_VIEW_DISTANCE" }}
resource-pack={{ getenv "MINECRAFT_RESOURCE_PACK" }}
spawn-animals={{ getenv "MINECRAFT_SPAWN_ANIMALS" }}
white-list={{ getenv "MINECRAFT_WHITE_LIST" }}
rcon.password={{ getenv "MINECRAFT_RCON_PASSWORD" }}
generate-structures={{ getenv "MINECRAFT_GENERATE_STRUCTURES" }}
online-mode={{ getenv "MINECRAFT_ONLINE_MODE" }}
max-build-height={{ getenv "MINECRAFT_MAX_BUILD_HEIGHT" }}
level-seed={{ getenv "MINECRAFT_LEVEL_SEED" }}
use-native-transport={{ getenv "MINECRAFT_USE_NATIVE_TRANSPORT" }}
motd={{ getenv "MINECRAFT_MOTD" }}
enable-rcon={{ getenv "MINECRAFT_ENABLE_RCON" }}
{{ getenv "MINECRAFT_ADDITIONAL_PROPERTIES" }}
