image: webhippie/minecraft-vanilla:1.12
manifests:
  -
    image: webhippie/minecraft-vanilla:1.12-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minecraft-vanilla:1.12-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
